.App {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.btn {
  width: 150px;
  height: 75px;
  margin-left: 10px;
  margin-top: 10px;
}

.count-field {
  display: flex;
  justify-content: center;
  text-align: center;
}

.count-field h1 {
  width: 100px;
  height: 50px;
  border: 1px solid black;
}

.delimiter {
  border: 1px solid black;
}